* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

img {
  vertical-align: top;
  border: 0;
}

ol,
ul {
  list-style: none;
}

html {
  user-select: none;
  scroll-behavior: smooth;
}
